*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
/OddestOdds/.vs/OddestOdds/v15/Server/sqlite3/db.lock
/OddestOdds/.vs/OddestOdds/v15/Server/sqlite3/storage.ide
/OddestOdds/.vs/OddestOdds/v15/Server/sqlite3/storage.ide-shm
/OddestOdds/.vs/OddestOdds/v15/Server/sqlite3/storage.ide-wal
/OddestOdds/OddestOdds/node_modules/.bin/*
/OddestOdds/OddestOdds/node_modules/.bin/*.cmd
/OddestOdds/OddestOdds/node_modules/@aspnet/signalr/*.md
/OddestOdds/OddestOdds/node_modules/@aspnet/signalr/dist/browser/*.js
/OddestOdds/OddestOdds/node_modules/@aspnet/signalr/dist/browser/*.map
/OddestOdds/OddestOdds/node_modules/@aspnet/signalr/dist/cjs/*.js
/OddestOdds/OddestOdds/node_modules/@aspnet/signalr/dist/cjs/*.map
/OddestOdds/OddestOdds/node_modules/@aspnet/signalr/dist/esm/*.ts
/OddestOdds/OddestOdds/node_modules/@aspnet/signalr/dist/esm/*.js
/OddestOdds/OddestOdds/node_modules/@aspnet/signalr/dist/esm/*.map
/OddestOdds/OddestOdds/node_modules/@aspnet/signalr/*.json
/OddestOdds/OddestOdds/node_modules/@aspnet/signalr/src/*.ts
/OddestOdds/OddestOdds/node_modules/@aspnet/signalr/src/*.txt
/OddestOdds/OddestOdds/node_modules/ajv/*.js
/OddestOdds/OddestOdds/node_modules/ajv/*
/OddestOdds/OddestOdds/node_modules/ajv/*.md
/OddestOdds/OddestOdds/node_modules/ajv/dist/*.js
/OddestOdds/OddestOdds/node_modules/ajv/dist/*.map
/OddestOdds/OddestOdds/node_modules/ajv/lib/*.ts
/OddestOdds/OddestOdds/node_modules/ajv/lib/*.js
/OddestOdds/OddestOdds/node_modules/ajv/lib/compile/*.js
/OddestOdds/OddestOdds/node_modules/ajv/lib/dot/*.jst
/OddestOdds/OddestOdds/node_modules/ajv/lib/dot/*.def
/OddestOdds/OddestOdds/node_modules/ajv/lib/dotjs/*.md
/OddestOdds/OddestOdds/node_modules/ajv/lib/dotjs/*.js
/OddestOdds/OddestOdds/node_modules/ajv/lib/refs/*.json
/OddestOdds/OddestOdds/node_modules/ajv/*.json
/OddestOdds/OddestOdds/node_modules/ajv/scripts/*.yml
/OddestOdds/OddestOdds/node_modules/ajv/scripts/*.js
/OddestOdds/OddestOdds/node_modules/ajv/scripts/*
/OddestOdds/OddestOdds/node_modules/asn1/*
/OddestOdds/OddestOdds/node_modules/asn1/*.md
/OddestOdds/OddestOdds/node_modules/asn1/lib/ber/*.js
/OddestOdds/OddestOdds/node_modules/asn1/lib/*.js
/OddestOdds/OddestOdds/node_modules/asn1/*.json
/OddestOdds/OddestOdds/node_modules/assert-plus/*
/OddestOdds/OddestOdds/node_modules/assert-plus/*.md
/OddestOdds/OddestOdds/node_modules/assert-plus/*.js
/OddestOdds/OddestOdds/node_modules/assert-plus/*.json
/OddestOdds/OddestOdds/node_modules/async-limiter/*.yml
/OddestOdds/OddestOdds/node_modules/async-limiter/*
/OddestOdds/OddestOdds/node_modules/async-limiter/coverage/*.json
/OddestOdds/OddestOdds/node_modules/async-limiter/coverage/lcov-report/async-throttle/*.html
/OddestOdds/OddestOdds/node_modules/async-limiter/coverage/lcov-report/*.css
/OddestOdds/OddestOdds/node_modules/async-limiter/coverage/lcov-report/*.html
/OddestOdds/OddestOdds/node_modules/async-limiter/coverage/lcov-report/*.js
/OddestOdds/OddestOdds/node_modules/async-limiter/coverage/lcov-report/*.png
/OddestOdds/OddestOdds/node_modules/async-limiter/coverage/*.info
/OddestOdds/OddestOdds/node_modules/async-limiter/*.js
/OddestOdds/OddestOdds/node_modules/async-limiter/*.json
/OddestOdds/OddestOdds/node_modules/async-limiter/*.md
/OddestOdds/OddestOdds/node_modules/asynckit/*
/OddestOdds/OddestOdds/node_modules/asynckit/*.md
/OddestOdds/OddestOdds/node_modules/asynckit/*.js
/OddestOdds/OddestOdds/node_modules/asynckit/lib/*.js
/OddestOdds/OddestOdds/node_modules/asynckit/*.json
/OddestOdds/OddestOdds/node_modules/aws-sign2/*
/OddestOdds/OddestOdds/node_modules/aws-sign2/*.md
/OddestOdds/OddestOdds/node_modules/aws-sign2/*.js
/OddestOdds/OddestOdds/node_modules/aws-sign2/*.json
/OddestOdds/OddestOdds/node_modules/aws4/*.yml
/OddestOdds/OddestOdds/node_modules/aws4/*
/OddestOdds/OddestOdds/node_modules/aws4/*.md
/OddestOdds/OddestOdds/node_modules/aws4/*.js
/OddestOdds/OddestOdds/node_modules/aws4/*.json
/OddestOdds/OddestOdds/node_modules/bcrypt-pbkdf/*.md
/OddestOdds/OddestOdds/node_modules/bcrypt-pbkdf/*
/OddestOdds/OddestOdds/node_modules/bcrypt-pbkdf/*.js
/OddestOdds/OddestOdds/node_modules/bcrypt-pbkdf/*.json
/OddestOdds/OddestOdds/node_modules/caseless/*
/OddestOdds/OddestOdds/node_modules/caseless/*.md
/OddestOdds/OddestOdds/node_modules/caseless/*.js
/OddestOdds/OddestOdds/node_modules/caseless/*.json
/OddestOdds/OddestOdds/node_modules/combined-stream/*
/OddestOdds/OddestOdds/node_modules/combined-stream/*.md
/OddestOdds/OddestOdds/node_modules/combined-stream/lib/*.js
/OddestOdds/OddestOdds/node_modules/combined-stream/*.json
/OddestOdds/OddestOdds/node_modules/core-util-is/*
/OddestOdds/OddestOdds/node_modules/core-util-is/*.md
/OddestOdds/OddestOdds/node_modules/core-util-is/*.patch
/OddestOdds/OddestOdds/node_modules/core-util-is/lib/*.js
/OddestOdds/OddestOdds/node_modules/core-util-is/*.json
/OddestOdds/OddestOdds/node_modules/core-util-is/*.js
/OddestOdds/OddestOdds/node_modules/dashdash/*.md
/OddestOdds/OddestOdds/node_modules/dashdash/*.txt
/OddestOdds/OddestOdds/node_modules/dashdash/etc/*.in
/OddestOdds/OddestOdds/node_modules/dashdash/lib/*.js
/OddestOdds/OddestOdds/node_modules/dashdash/*.json
/OddestOdds/OddestOdds/node_modules/delayed-stream/*.npmignore
/OddestOdds/OddestOdds/node_modules/delayed-stream/*
/OddestOdds/OddestOdds/node_modules/delayed-stream/*.md
/OddestOdds/OddestOdds/node_modules/delayed-stream/lib/*.js
/OddestOdds/OddestOdds/node_modules/delayed-stream/*.json
/OddestOdds/OddestOdds/node_modules/ecc-jsbn/*
/OddestOdds/OddestOdds/node_modules/ecc-jsbn/*.md
/OddestOdds/OddestOdds/node_modules/ecc-jsbn/*.js
/OddestOdds/OddestOdds/node_modules/ecc-jsbn/lib/*
/OddestOdds/OddestOdds/node_modules/ecc-jsbn/lib/*.js
/OddestOdds/OddestOdds/node_modules/ecc-jsbn/*.json
/OddestOdds/OddestOdds/node_modules/eventsource/*.editorconfig
/OddestOdds/OddestOdds/node_modules/eventsource/*.yml
/OddestOdds/OddestOdds/node_modules/eventsource/*.md
/OddestOdds/OddestOdds/node_modules/eventsource/*
/OddestOdds/OddestOdds/node_modules/eventsource/example/*.js
/OddestOdds/OddestOdds/node_modules/eventsource/example/*.html
/OddestOdds/OddestOdds/node_modules/eventsource/lib/*.js
/OddestOdds/OddestOdds/node_modules/eventsource/*.json
/OddestOdds/OddestOdds/node_modules/eventsource/*.lock
/OddestOdds/OddestOdds/node_modules/extend/*.editorconfig
/OddestOdds/OddestOdds/node_modules/extend/*.eslintrc
/OddestOdds/OddestOdds/node_modules/extend/*.json
/OddestOdds/OddestOdds/node_modules/extend/*.yml
/OddestOdds/OddestOdds/node_modules/extend/*.md
/OddestOdds/OddestOdds/node_modules/extend/*
/OddestOdds/OddestOdds/node_modules/extend/*.js
/OddestOdds/OddestOdds/node_modules/extsprintf/*.gitmodules
/OddestOdds/OddestOdds/node_modules/extsprintf/*.npmignore
/OddestOdds/OddestOdds/node_modules/extsprintf/*
/OddestOdds/OddestOdds/node_modules/extsprintf/*.targ
/OddestOdds/OddestOdds/node_modules/extsprintf/*.md
/OddestOdds/OddestOdds/node_modules/extsprintf/*.conf
/OddestOdds/OddestOdds/node_modules/extsprintf/lib/*.js
/OddestOdds/OddestOdds/node_modules/extsprintf/*.json
/OddestOdds/OddestOdds/node_modules/fast-deep-equal/*
/OddestOdds/OddestOdds/node_modules/fast-deep-equal/*.md
/OddestOdds/OddestOdds/node_modules/fast-deep-equal/*.ts
/OddestOdds/OddestOdds/node_modules/fast-deep-equal/*.js
/OddestOdds/OddestOdds/node_modules/fast-deep-equal/*.json
/OddestOdds/OddestOdds/node_modules/fast-json-stable-stringify/*.yml
/OddestOdds/OddestOdds/node_modules/fast-json-stable-stringify/*.npmignore
/OddestOdds/OddestOdds/node_modules/fast-json-stable-stringify/*
/OddestOdds/OddestOdds/node_modules/fast-json-stable-stringify/*.md
/OddestOdds/OddestOdds/node_modules/fast-json-stable-stringify/benchmark/*.js
/OddestOdds/OddestOdds/node_modules/fast-json-stable-stringify/benchmark/*.json
/OddestOdds/OddestOdds/node_modules/fast-json-stable-stringify/example/*.js
/OddestOdds/OddestOdds/node_modules/fast-json-stable-stringify/*.js
/OddestOdds/OddestOdds/node_modules/fast-json-stable-stringify/*.json
/OddestOdds/OddestOdds/node_modules/fast-json-stable-stringify/test/*.js
/OddestOdds/OddestOdds/node_modules/forever-agent/*
/OddestOdds/OddestOdds/node_modules/forever-agent/*.md
/OddestOdds/OddestOdds/node_modules/forever-agent/*.js
/OddestOdds/OddestOdds/node_modules/forever-agent/*.json
/OddestOdds/OddestOdds/node_modules/form-data/*
/OddestOdds/OddestOdds/node_modules/form-data/*.md
/OddestOdds/OddestOdds/node_modules/form-data/*.bak
/OddestOdds/OddestOdds/node_modules/form-data/lib/*.js
/OddestOdds/OddestOdds/node_modules/form-data/*.json
/OddestOdds/OddestOdds/node_modules/form-data/*.lock
/OddestOdds/OddestOdds/node_modules/getpass/*.npmignore
/OddestOdds/OddestOdds/node_modules/getpass/*.yml
/OddestOdds/OddestOdds/node_modules/getpass/*
/OddestOdds/OddestOdds/node_modules/getpass/*.md
/OddestOdds/OddestOdds/node_modules/getpass/lib/*.js
/OddestOdds/OddestOdds/node_modules/getpass/*.json
/OddestOdds/OddestOdds/node_modules/har-schema/*
/OddestOdds/OddestOdds/node_modules/har-schema/*.md
/OddestOdds/OddestOdds/node_modules/har-schema/lib/*.json
/OddestOdds/OddestOdds/node_modules/har-schema/lib/*.js
/OddestOdds/OddestOdds/node_modules/har-schema/*.json
/OddestOdds/OddestOdds/node_modules/har-validator/*
/OddestOdds/OddestOdds/node_modules/har-validator/*.md
/OddestOdds/OddestOdds/node_modules/har-validator/lib/*.js
/OddestOdds/OddestOdds/node_modules/har-validator/*.json
/OddestOdds/OddestOdds/node_modules/http-signature/*.el
/OddestOdds/OddestOdds/node_modules/http-signature/*.npmignore
/OddestOdds/OddestOdds/node_modules/http-signature/*.md
/OddestOdds/OddestOdds/node_modules/http-signature/*
/OddestOdds/OddestOdds/node_modules/http-signature/lib/*.js
/OddestOdds/OddestOdds/node_modules/http-signature/*.json
/OddestOdds/OddestOdds/node_modules/is-typedarray/*.md
/OddestOdds/OddestOdds/node_modules/is-typedarray/*.js
/OddestOdds/OddestOdds/node_modules/is-typedarray/*.json
/OddestOdds/OddestOdds/node_modules/isstream/*.jshintrc
/OddestOdds/OddestOdds/node_modules/isstream/*.npmignore
/OddestOdds/OddestOdds/node_modules/isstream/*.yml
/OddestOdds/OddestOdds/node_modules/isstream/*.md
/OddestOdds/OddestOdds/node_modules/isstream/*.js
/OddestOdds/OddestOdds/node_modules/isstream/*.json
/OddestOdds/OddestOdds/node_modules/jsbn/*.npmignore
/OddestOdds/OddestOdds/node_modules/jsbn/*
/OddestOdds/OddestOdds/node_modules/jsbn/*.md
/OddestOdds/OddestOdds/node_modules/jsbn/*.html
/OddestOdds/OddestOdds/node_modules/jsbn/*.js
/OddestOdds/OddestOdds/node_modules/jsbn/*.json
/OddestOdds/OddestOdds/node_modules/json-schema-traverse/*.yml
/OddestOdds/OddestOdds/node_modules/json-schema-traverse/*
/OddestOdds/OddestOdds/node_modules/json-schema-traverse/*.md
/OddestOdds/OddestOdds/node_modules/json-schema-traverse/*.js
/OddestOdds/OddestOdds/node_modules/json-schema-traverse/*.json
/OddestOdds/OddestOdds/node_modules/json-schema-traverse/spec/*.yml
/OddestOdds/OddestOdds/node_modules/json-schema-traverse/spec/fixtures/*.js
/OddestOdds/OddestOdds/node_modules/json-schema-traverse/spec/*.js
/OddestOdds/OddestOdds/node_modules/json-schema/*.md
/OddestOdds/OddestOdds/node_modules/json-schema/draft-00/*
/OddestOdds/OddestOdds/node_modules/json-schema/draft-01/*
/OddestOdds/OddestOdds/node_modules/json-schema/draft-02/*
/OddestOdds/OddestOdds/node_modules/json-schema/draft-03/examples/*
/OddestOdds/OddestOdds/node_modules/json-schema/draft-03/*
/OddestOdds/OddestOdds/node_modules/json-schema/draft-04/*
/OddestOdds/OddestOdds/node_modules/json-schema/*.xml
/OddestOdds/OddestOdds/node_modules/json-schema/lib/*.js
/OddestOdds/OddestOdds/node_modules/json-schema/*.json
/OddestOdds/OddestOdds/node_modules/json-schema/test/*.js
/OddestOdds/OddestOdds/node_modules/json-stringify-safe/*.npmignore
/OddestOdds/OddestOdds/node_modules/json-stringify-safe/*.md
/OddestOdds/OddestOdds/node_modules/json-stringify-safe/*
/OddestOdds/OddestOdds/node_modules/json-stringify-safe/*.json
/OddestOdds/OddestOdds/node_modules/json-stringify-safe/*.js
/OddestOdds/OddestOdds/node_modules/json-stringify-safe/test/*.opts
/OddestOdds/OddestOdds/node_modules/json-stringify-safe/test/*.js
/OddestOdds/OddestOdds/node_modules/jsprim/*.md
/OddestOdds/OddestOdds/node_modules/jsprim/*
/OddestOdds/OddestOdds/node_modules/jsprim/lib/*.js
/OddestOdds/OddestOdds/node_modules/jsprim/*.json
/OddestOdds/OddestOdds/node_modules/mime-db/*.md
/OddestOdds/OddestOdds/node_modules/mime-db/*
/OddestOdds/OddestOdds/node_modules/mime-db/*.json
/OddestOdds/OddestOdds/node_modules/mime-db/*.js
/OddestOdds/OddestOdds/node_modules/mime-types/*.md
/OddestOdds/OddestOdds/node_modules/mime-types/*
/OddestOdds/OddestOdds/node_modules/mime-types/*.js
/OddestOdds/OddestOdds/node_modules/mime-types/*.json
/OddestOdds/OddestOdds/node_modules/oauth-sign/*
/OddestOdds/OddestOdds/node_modules/oauth-sign/*.md
/OddestOdds/OddestOdds/node_modules/oauth-sign/*.js
/OddestOdds/OddestOdds/node_modules/oauth-sign/*.json
/OddestOdds/OddestOdds/node_modules/original/*
/OddestOdds/OddestOdds/node_modules/original/*.md
/OddestOdds/OddestOdds/node_modules/original/*.js
/OddestOdds/OddestOdds/node_modules/original/*.json
/OddestOdds/OddestOdds/node_modules/performance-now/*.npmignore
/OddestOdds/OddestOdds/node_modules/performance-now/*.tm_properties
/OddestOdds/OddestOdds/node_modules/performance-now/*.yml
/OddestOdds/OddestOdds/node_modules/performance-now/*.md
/OddestOdds/OddestOdds/node_modules/performance-now/lib/*.js
/OddestOdds/OddestOdds/node_modules/performance-now/lib/*.map
/OddestOdds/OddestOdds/node_modules/performance-now/*.txt
/OddestOdds/OddestOdds/node_modules/performance-now/*.json
/OddestOdds/OddestOdds/node_modules/performance-now/src/*.ts
/OddestOdds/OddestOdds/node_modules/performance-now/src/*.coffee
/OddestOdds/OddestOdds/node_modules/performance-now/test/*.opts
/OddestOdds/OddestOdds/node_modules/performance-now/test/*.coffee
/OddestOdds/OddestOdds/node_modules/performance-now/test/scripts/*.coffee
/OddestOdds/OddestOdds/node_modules/psl/*.eslintignore
/OddestOdds/OddestOdds/node_modules/psl/*.eslintrc
/OddestOdds/OddestOdds/node_modules/psl/*.yml
/OddestOdds/OddestOdds/node_modules/psl/*
/OddestOdds/OddestOdds/node_modules/psl/*.md
/OddestOdds/OddestOdds/node_modules/psl/data/*.json
/OddestOdds/OddestOdds/node_modules/psl/dist/*.js
/OddestOdds/OddestOdds/node_modules/psl/*.js
/OddestOdds/OddestOdds/node_modules/psl/*.json
/OddestOdds/OddestOdds/node_modules/psl/*.lock
/OddestOdds/OddestOdds/node_modules/punycode/*.txt
/OddestOdds/OddestOdds/node_modules/punycode/*.md
/OddestOdds/OddestOdds/node_modules/punycode/*.json
/OddestOdds/OddestOdds/node_modules/punycode/*.js
/OddestOdds/OddestOdds/node_modules/qs/*.editorconfig
/OddestOdds/OddestOdds/node_modules/qs/*.eslintignore
/OddestOdds/OddestOdds/node_modules/qs/*.eslintrc
/OddestOdds/OddestOdds/node_modules/qs/*.md
/OddestOdds/OddestOdds/node_modules/qs/*
/OddestOdds/OddestOdds/node_modules/qs/dist/*.js
/OddestOdds/OddestOdds/node_modules/qs/lib/*.js
/OddestOdds/OddestOdds/node_modules/qs/*.json
/OddestOdds/OddestOdds/node_modules/qs/test/*.eslintrc
/OddestOdds/OddestOdds/node_modules/qs/test/*.js
/OddestOdds/OddestOdds/node_modules/querystringify/*
/OddestOdds/OddestOdds/node_modules/querystringify/*.md
/OddestOdds/OddestOdds/node_modules/querystringify/*.js
/OddestOdds/OddestOdds/node_modules/querystringify/*.json
/OddestOdds/OddestOdds/node_modules/request/*.md
/OddestOdds/OddestOdds/node_modules/request/*
/OddestOdds/OddestOdds/node_modules/request/*.js
/OddestOdds/OddestOdds/node_modules/request/lib/*.js
/OddestOdds/OddestOdds/node_modules/request/*.json
/OddestOdds/OddestOdds/node_modules/requires-port/*.npmignore
/OddestOdds/OddestOdds/node_modules/requires-port/*.yml
/OddestOdds/OddestOdds/node_modules/requires-port/*
/OddestOdds/OddestOdds/node_modules/requires-port/*.md
/OddestOdds/OddestOdds/node_modules/requires-port/*.js
/OddestOdds/OddestOdds/node_modules/requires-port/*.json
/OddestOdds/OddestOdds/node_modules/safe-buffer/*
/OddestOdds/OddestOdds/node_modules/safe-buffer/*.md
/OddestOdds/OddestOdds/node_modules/safe-buffer/*.ts
/OddestOdds/OddestOdds/node_modules/safe-buffer/*.js
/OddestOdds/OddestOdds/node_modules/safe-buffer/*.json
/OddestOdds/OddestOdds/node_modules/safer-buffer/*
/OddestOdds/OddestOdds/node_modules/safer-buffer/*.md
/OddestOdds/OddestOdds/node_modules/safer-buffer/*.js
/OddestOdds/OddestOdds/node_modules/safer-buffer/*.json
/OddestOdds/OddestOdds/node_modules/sshpk/*.npmignore
/OddestOdds/OddestOdds/node_modules/sshpk/*.yml
/OddestOdds/OddestOdds/node_modules/sshpk/*
/OddestOdds/OddestOdds/node_modules/sshpk/*.md
/OddestOdds/OddestOdds/node_modules/sshpk/lib/*.js
/OddestOdds/OddestOdds/node_modules/sshpk/lib/formats/*.js
/OddestOdds/OddestOdds/node_modules/sshpk/man/man1/*.1
/OddestOdds/OddestOdds/node_modules/sshpk/*.json
/OddestOdds/OddestOdds/node_modules/tough-cookie/*
/OddestOdds/OddestOdds/node_modules/tough-cookie/*.md
/OddestOdds/OddestOdds/node_modules/tough-cookie/lib/*.js
/OddestOdds/OddestOdds/node_modules/tough-cookie/node_modules/punycode/*.txt
/OddestOdds/OddestOdds/node_modules/tough-cookie/node_modules/punycode/*.md
/OddestOdds/OddestOdds/node_modules/tough-cookie/node_modules/punycode/*.json
/OddestOdds/OddestOdds/node_modules/tough-cookie/node_modules/punycode/*.js
/OddestOdds/OddestOdds/node_modules/tough-cookie/*.json
/OddestOdds/OddestOdds/node_modules/tunnel-agent/*
/OddestOdds/OddestOdds/node_modules/tunnel-agent/*.md
/OddestOdds/OddestOdds/node_modules/tunnel-agent/*.js
/OddestOdds/OddestOdds/node_modules/tunnel-agent/*.json
/OddestOdds/OddestOdds/node_modules/tweetnacl/*.npmignore
/OddestOdds/OddestOdds/node_modules/tweetnacl/*.md
/OddestOdds/OddestOdds/node_modules/tweetnacl/*
/OddestOdds/OddestOdds/node_modules/tweetnacl/*.js
/OddestOdds/OddestOdds/node_modules/tweetnacl/*.ts
/OddestOdds/OddestOdds/node_modules/tweetnacl/*.json
/OddestOdds/OddestOdds/node_modules/uri-js/*.md
/OddestOdds/OddestOdds/node_modules/uri-js/*.json
/OddestOdds/OddestOdds/node_modules/uri-js/dist/es5/*.ts
/OddestOdds/OddestOdds/node_modules/uri-js/dist/es5/*.js
/OddestOdds/OddestOdds/node_modules/uri-js/dist/es5/*.map
/OddestOdds/OddestOdds/node_modules/uri-js/dist/esnext/*.ts
/OddestOdds/OddestOdds/node_modules/uri-js/dist/esnext/*.js
/OddestOdds/OddestOdds/node_modules/uri-js/dist/esnext/*.map
/OddestOdds/OddestOdds/node_modules/uri-js/dist/esnext/schemes/*.ts
/OddestOdds/OddestOdds/node_modules/uri-js/dist/esnext/schemes/*.js
/OddestOdds/OddestOdds/node_modules/uri-js/dist/esnext/schemes/*.map
/OddestOdds/OddestOdds/node_modules/uri-js/*.js
/OddestOdds/OddestOdds/node_modules/uri-js/src/*.ts
/OddestOdds/OddestOdds/node_modules/uri-js/src/schemes/*.ts
/OddestOdds/OddestOdds/node_modules/uri-js/tests/*.css
/OddestOdds/OddestOdds/node_modules/uri-js/tests/*.js
/OddestOdds/OddestOdds/node_modules/uri-js/tests/*.html
/OddestOdds/OddestOdds/node_modules/uri-js/*.lock
/OddestOdds/OddestOdds/node_modules/url-parse/*
/OddestOdds/OddestOdds/node_modules/url-parse/*.md
/OddestOdds/OddestOdds/node_modules/url-parse/dist/*.js
/OddestOdds/OddestOdds/node_modules/url-parse/dist/*.map
/OddestOdds/OddestOdds/node_modules/url-parse/*.js
/OddestOdds/OddestOdds/node_modules/url-parse/*.json
/OddestOdds/OddestOdds/node_modules/uuid/*.json
/OddestOdds/OddestOdds/node_modules/uuid/*
/OddestOdds/OddestOdds/node_modules/uuid/*.md
/OddestOdds/OddestOdds/node_modules/uuid/*.js
/OddestOdds/OddestOdds/node_modules/uuid/lib/*.js
/OddestOdds/OddestOdds/node_modules/verror/*.npmignore
/OddestOdds/OddestOdds/node_modules/verror/*.md
/OddestOdds/OddestOdds/node_modules/verror/*
/OddestOdds/OddestOdds/node_modules/verror/lib/*.js
/OddestOdds/OddestOdds/node_modules/verror/*.json
/OddestOdds/OddestOdds/node_modules/ws/*
/OddestOdds/OddestOdds/node_modules/ws/*.md
/OddestOdds/OddestOdds/node_modules/ws/*.js
/OddestOdds/OddestOdds/node_modules/ws/lib/*.js
/OddestOdds/OddestOdds/node_modules/ws/*.json
